# This file loads the default temperature sensors.


########################################
# Module loading
########################################

# Load "PT1000", "PT100 INA826", "AD595", "AD597", "AD8494", "AD8495",
# "AD8496", and "AD8497" sensors
[adc_temperature]

# Load "BME280" sensor
[bme280]

# Load "DS18B20" sensor
[ds18b20]

# Load "SI7013", "SI7020", "SI7021", "SHT21", and "HTU21D" sensors
[htu21d]

# Load "LM75" sensor
[lm75]

# Load "MAX6675", "MAX31855", "MAX31856", and "MAX31865" sensors
[spi_temperature]

# Load "temperature_host" sensor
[temperature_host]

# Load "temperature_mcu" sensor
[temperature_mcu]


########################################
# Default thermistors
########################################

# Definition from (20211101): https://download.lulzbot.com/retail_parts/Completed_Parts/100k_Semitech_GT2_Thermistor_KT-EL0059/GT-2-glass-thermistors.pdf
[thermistor ATC Semitec 104GT-2]
temperature1: 20
resistance1: 126800
temperature2: 150
resistance2: 1360
temperature3: 300
resistance3: 80.65

# Definition from (20211112): https://atcsemitec.co.uk/wp-content/uploads/2019/01/Semitec-NT-4-Glass-NTC-Thermistor.pdf
[thermistor ATC Semitec 104NT-4-R025H42G]
temperature1: 25
resistance1: 100000
temperature2: 160
resistance2: 1074
temperature3: 300
resistance3: 82.78

# Definition from (20211101): https://www.tdk-electronics.tdk.com/inf/50/db/ntc_09/Glass_enc_Sensors__B57560__G560__G1560.pdf
# (B57560G104 is same definition as B57560G1104)
[thermistor EPCOS 100K B57560G104F]
temperature1: 25
resistance1: 100000
temperature2: 150
resistance2: 1641.9
temperature3: 250
resistance3: 226.15

# Definition from (20211101): https://www.keenovo.com/NTC-Thermistor-R-T-Table.pdf
[thermistor Generic 3950]
temperature1: 25
resistance1: 100000
temperature2: 150
resistance2: 1770
temperature3: 250
resistance3: 230

# Definition from (20211101): https://www.sliceengineering.com/products/thermistor-high-temperature and https://docs.google.com/spreadsheets/d/1904x5JK-Sup-cX5DqHiiZWaFVTK6_PQBFxgi_6yXEJw/edit#gid=0
[thermistor SliceEngineering 450]
temperature1: 25
resistance1: 500000
temperature2: 200
resistance2: 3734
temperature3: 400
resistance3: 240

# Definition from (20211101): https://product.tdk.com/system/files/dam/doc/product/sensor/ntc/chip-ntc-thermistor/rt_sheets/ntcg104lh104jt1.csv
[thermistor TDK NTCG104LH104JT1]
temperature1: 25
resistance1: 100000
temperature2: 50
resistance2: 31230
temperature3: 125
resistance3: 2066

# Definition from (20211101): https://sensing.honeywell.com/135-104lag-j01-thermistors
[thermistor Honeywell 100K 135-104LAG-J01]
temperature1: 25
resistance1: 100000
beta: 3974

# Definition inherent from name. This sensor is deprecated!
[thermistor NTC 100K beta 3950]
temperature1: 25
resistance1: 100000
beta: 3950

# Definition from description of Marlin "thermistor 75"
[thermistor NTC 100K MGB18-104F39050L32]
temperature1: 25
resistance1: 100000
beta: 4100
