# Kconfig settings for STM32F1 processors

if MACH_STM32F1

config STM32F1_SELECT
    bool
    default y
    select HAVE_GPIO
    select HAVE_GPIO_ADC
    select HAVE_GPIO_SPI
    select HAVE_GPIO_BITBANGING

config BOARD_DIRECTORY
    string
    default "stm32f1"

config CLOCK_FREQ
    int
    default 72000000

choice
    prompt "Bootloader offset"
    config STM_FLASH_START_2000
        bool "8KiB bootloader (stm32duino)"
    config STM_FLASH_START_7000
        bool "28KiB bootloader"
    config STM_FLASH_START_0000
        bool "No bootloader"
endchoice

config FLASH_START
    hex
    default 0x2000 if STM_FLASH_START_2000
    default 0x7000 if STM_FLASH_START_7000
    default 0x0000

config USBSERIAL
    bool "Use USB for communication (instead of serial)"
    default y
config SERIAL
    depends on !USBSERIAL
    bool
    default y

endif
