# Kconfig settings for compiling and running the firmware on the host
# processor for simulation purposes.

if MACH_SIMU

config BOARD_DIRECTORY
    string
    default "simulator"

config SIMULATOR_SELECT
    bool
    default y
    select HAVE_GPIO
    select HAVE_GPIO_ADC
    select HAVE_GPIO_SPI
    select HAVE_GPIO_HARD_PWM

config CLOCK_FREQ
    int
    default 20000000

config SERIAL_BAUD
    int
    default 250000

endif
