CONFIG_BOARD_INFO_CONFIGURE=y

#
# Board Configure
#
# CONFIG_MAIN_MCU_BOARD is not set
# CONFIG_NOZZLE_MCU_BOARD is not set
CONFIG_BED_MCU_BOARD=y
CONFIG_MCU_BOARD_ID=0
CONFIG_MCU_BOARD_HW_VER=110
CONFIG_MCU_BOARD_FW_VER=004
CONFIG_MCU_BOARD_FW_RESERVED=000
# end of Board Configure

CONFIG_LOW_LEVEL_OPTIONS=y
# CONFIG_MACH_AVR is not set
# CONFIG_MACH_ATSAM is not set
# CONFIG_MACH_ATSAMD is not set
# CONFIG_MACH_LPC176X is not set
# CONFIG_MACH_STM32 is not set
# CONFIG_MACH_RP2040 is not set
# CONFIG_MACH_AT32 is not set
CONFIG_MACH_GD32=y
# CONFIG_MACH_PRU is not set
# CONFIG_MACH_LINUX is not set
# CONFIG_MACH_SIMU is not set
CONFIG_BOARD_DIRECTORY="gd32"
CONFIG_MCU="gd32e230x8"
CONFIG_CLOCK_FREQ=72000000
CONFIG_SERIAL=y
CONFIG_FLASH_SIZE=0x00010000
CONFIG_FLASH_BOOT_ADDRESS=0x8000000
CONFIG_RAM_START=0x20000000
CONFIG_RAM_SIZE=0x2000
CONFIG_STACK_SIZE=512
CONFIG_FLASH_APPLICATION_ADDRESS=0x8003000
CONFIG_MCU_TYPE="21"
CONFIG_GD32_SELECT=y
# CONFIG_MACH_GD32F303XB is not set
# CONFIG_MACH_GD32F303XC is not set
# CONFIG_MACH_GD32F303XE is not set
# CONFIG_MACH_GD32F303XG is not set
# CONFIG_MACH_GD32F303XI is not set
# CONFIG_MACH_GD32F303XK is not set
# CONFIG_MACH_GD32F305XB is not set
# CONFIG_MACH_GD32F305XC is not set
# CONFIG_MACH_GD32F305XE is not set
# CONFIG_MACH_GD32F305XG is not set
# CONFIG_MACH_GD32F307XC is not set
# CONFIG_MACH_GD32F307XE is not set
# CONFIG_MACH_GD32F307XG is not set
# CONFIG_MACH_GD32E230X6 is not set
CONFIG_MACH_GD32E230X8=y
CONFIG_MACH_GD32E23X=y
# CONFIG_GD32_FLASH_START_0000 is not set
CONFIG_GD32_FLASH_START_3000=y
CONFIG_GD32_SERIAL_USART0_PA9_PA10=y
# CONFIG_GD32_SERIAL_USART1_PA2_PA3 is not set
# CONFIG_GD32_USB is not set
CONFIG_MCU_MENU="G"
CONFIG_SERIAL_BAUD=230400
CONFIG_USB_VENDOR_ID=0x1d50
CONFIG_USB_DEVICE_ID=0x614e
CONFIG_USB_SERIAL_NUMBER="12345"
CONFIG_CANBUS_FREQUENCY=500000
CONFIG_MACH_CREALITY_OTHERS=y
# CONFIG_MACH_CREALITY_CR_10_SMART is not set
CONFIG_INITIAL_PINS=""
CONFIG_BUILD_MACHINE_UID=""
CONFIG_HAVE_GPIO=y
CONFIG_HAVE_GPIO_ADC=y
CONFIG_HAVE_PRTOUCH=y
CONFIG_HAVE_GPIO_SPI=y
CONFIG_HAVE_GPIO_BITBANGING=y
CONFIG_HAVE_STRICT_TIMING=y
CONFIG_HAVE_CHIPID=y
CONFIG_HAVE_STEPPER_BOTH_EDGE=y
CONFIG_INLINE_STEPPER_HACK=y
