# Kconfig settings for STM32F4 processors

if MACH_STM32F4

config STM32F4_SELECT
    bool
    default y
    select HAVE_GPIO

config BOARD_DIRECTORY
    string
    default "stm32f4"

config CLOCK_FREQ
    int
    default 180000000

choice
    prompt "Clock Reference"
    config STM32F4_CLOCK_REF_8M
        bool "8Mhz crystal"
    config STM32F4_CLOCK_REF_INTERNAL
        bool "Internal clock"
endchoice

config SERIAL
    bool
    default y

endif
