# Kconfig settings for Huada HC32F460 processor

if MACH_HC32F460

config HC32F460_SELECT
    bool
    default y
    select HAVE_GPIO
    select HAVE_GPIO_ADC
    select HAVE_GPIO_HARD_PWM
    select HAVE_STEPPER_BOTH_EDGE

config BOARD_DIRECTORY
    string
    default "hc32f460"


config SERIAL
    bool
choice
    prompt "Communication interface"
    config HC32F460_SERIAL_PA15_PA9
        bool "Use uUSB on PA15/PA09"
        select SERIAL
    config HC32F460_SERIAL_PC0_PC1
        bool "Use LCD pins 7 and 8"  if LOW_LEVEL_OPTIONS
        select SERIAL
endchoice


config FLASH_SIZE
    hex
    default 0x40000

config FLASH_START
    hex
    default 0xC000

config RAM_SIZE
    hex
    default 0x8000

config RAM_START
    hex
    default 0x1fff8000

config STACK_SIZE
    int
    default 1024

config CLOCK_FREQ
    int
    default 168000000

config MCU
    string
    default "HC32F460"

endif
