# Documentation on config parameters has moved to: docs/Config_Reference.md

# The latest version of the config reference is also available online at:
#   https://www.klipper3d.org/Config_Reference.html
