# This file contains common pin mappings for Recore A7 boards.
# To use this config, the firmware should be compiled for
# AR100 and STM32F031

# See docs/Config_Reference.md for a description of parameters.

# The STM32F031 mcu
[mcu]
serial: /dev/ttyS2
baud: 250000
restart_method: command

# The AR100 mcu
[mcu ar100]
serial: /dev/ttyS1
baud: 1500000

[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 3000
max_z_velocity: 25
max_z_accel: 30

[tmc2209 stepper_x]
uart_pin: ar100:PE16
uart_address: 0
run_current: 0.500
hold_current: 0.500
stealthchop_threshold: 250

[tmc2209 stepper_y]
uart_pin: ar100:PE16
uart_address: 1
run_current: 0.500
hold_current: 0.500
stealthchop_threshold: 250

[tmc2209 stepper_z]
uart_pin: ar100:PE16
uart_address: 2
run_current: 0.500
hold_current: 0.500
stealthchop_threshold: 250

[tmc2209 extruder]
uart_pin: ar100:PE16
uart_address: 3
run_current: 0.500
hold_current: 0.500
stealthchop_threshold: 250

[stepper_x]
step_pin: ar100:PL4
dir_pin: ar100:PE8
endstop_pin: !ar100:PH4
rotation_distance: 40
microsteps: 16
position_endstop: 0
position_max: 200
homing_speed: 2.0

[stepper_y]
step_pin: ar100:PL5
dir_pin: ar100:PE9
endstop_pin: !ar100:PH5
rotation_distance: 40
microsteps: 16
position_endstop: 0
position_max: 200
homing_speed: 2.0

[stepper_z]
step_pin: ar100:PL6
dir_pin: ar100:PE10
endstop_pin: !ar100:PH6
rotation_distance: 40
microsteps: 16
position_endstop: 0
position_max: 200
homing_speed: 2.0

[extruder]
step_pin: ar100:PL7
dir_pin: ar100:PE11
heater_pin: PA8
sensor_pin: PA0
sensor_type: EPCOS 100K B57560G104F
rotation_distance: 40
microsteps: 16
nozzle_diameter: 0.400
filament_diameter: 1.75
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
min_extrude_temp: 30
min_temp: -272
max_temp: 300

[extruder1]
step_pin: ar100:PL8
dir_pin: ar100:PE12
heater_pin: PA9
sensor_pin: PA1
sensor_type: EPCOS 100K B57560G104F
rotation_distance: 40
microsteps: 16
nozzle_diameter: 0.400
filament_diameter: 1.75
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
min_extrude_temp: 30
min_temp: -272
max_temp: 300

[extruder2]
step_pin: ar100:PL9
dir_pin: ar100:PE13
heater_pin: PA10
sensor_pin: PA2
sensor_type: EPCOS 100K B57560G104F
rotation_distance: 40
microsteps: 16
nozzle_diameter: 0.400
filament_diameter: 1.75
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
min_extrude_temp: 30
min_temp: -272
max_temp: 300

[heater_bed]
heater_pin: PA11
sensor_pin: PA3
sensor_type: EPCOS 100K B57560G104F
control: watermark
min_temp: -272
max_temp: 300

[fan]
pin: PF0

[output_pin fan1]
pin: PB1

[output_pin fan2]
pin: PB5

# Set up board voltage, current, temperature.
[ina381]
reset_pin: ar100:PF4

[static_digital_output pga_gain]
# GPIO Programmable gain amplifier
# Low  = unity gain, High = 100 times amplification
pins:
    !ar100:PD4, # T0
    !ar100:PH11,# T1
    !ar100:PE17,# T2
    !ar100:PB2  # T3

[static_digital_output pga_offset]
# Programmable input offset
# Low  = No offset, High = 0.033 V offset
pins:
    !ar100:PG0, # T0
    !ar100:PG1, # T1
    !ar100:PG2, # T2
    !ar100:PG3  # T3

[static_digital_output pga_pull_up]
# Programmable input pull-ups
# Low  = No pull-up, High = pull-up
pins:
    ar100:PG10, # T0
    ar100:PG11, # T1
    ar100:PG12, # T2
    ar100:PG13  # T3

[static_digital_output endstops_5V_enable]
pins: ar100:PF2

[static_digital_output 24V_enable]
pins: !ar100:PF5

# pin high = 12V, pin low = 5V
[static_digital_output endstop_ES0_5V_12V]
pins: !ar100:PF0

[static_digital_output temperature_5V_enable]
pins: ar100:PF1

[static_digital_output user_led_enable]
pins: PA12

[temperature_fan board]
pin: PB4
min_temp: 0
max_temp: 100
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA6
control: watermark
target_temp: 50

[temperature_sensor cold_junction]
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA7

# Vout = Vin * 10K/110K = Vin*11
[adc_temperature v]
temperature1: 0.35
voltage1: 0
temperature2: 36.65
voltage2: 3.3

[temperature_sensor voltage]
adc_voltage: 3.3
sensor_pin: PA4
sensor_type: v

# 1 A = 20 mV
[adc_temperature current]
temperature1: 0
voltage1: 0
temperature2: 165
voltage2: 3.3

[temperature_sensor current]
adc_voltage: 3.3
sensor_pin: PA5
sensor_type: current
max_temp: 20

[adc_temperature fan_current]
temperature1: 0
voltage1: 0
temperature2: 33
voltage2: 3.3

[temperature_sensor fan_current]
adc_voltage: 3.3
sensor_pin: PB0
sensor_type: fan_current
max_temp: 2.0

[gcode_button over_current_alarm]
pin: !ar100:PF6
press_gcode: M112
