# This file contains common pin mappings for the MKS Sgen L V2
# board. To use this config, the firmware should be compiled for the LPC1769.
#klipper firmware configuration

#   [*]enable extra low level configuration options
#   micro-controller architecture (LPC176x (Smoothieboard))
#   Processor model (lpc1769 (120 Mhz))
#   []Target board uses Smoothieware bootloader

[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 3000
max_z_velocity: 25
max_z_accel: 30

[mcu]
serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00

#########################################
#  Stepper Settings
#########################################
[stepper_x]
step_pin: P2.2
dir_pin: P2.3
enable_pin: !P2.1
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
endstop_pin: ^P1.29 # ^P1.28 for Xmax
position_endstop: -10
position_min: -10
position_max: 263

## Y Stepper
[stepper_y]
step_pin: P0.19
dir_pin: P0.20
enable_pin: !P2.8
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
endstop_pin: ^P1.27 # ^P1.26 for Ymax
position_endstop: -20
position_min: -20
position_max: 220

## Z0 Stepper
[stepper_z]
step_pin: P0.22
dir_pin: P2.11
enable_pin: !P0.21
rotation_distance: 8
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
microsteps: 16
endstop_pin: ^!P1.28 # ^P1.24 for Zmax
# Comment if you use a bltouch
# endstop_pin: probe:z_virtual_endstop # Uncomment if you use a bltouch
position_endstop: 0
position_min: -1.3
position_max: 200

## Z1 Stepper
[stepper_z1]
step_pin: P1.9
dir_pin: P1.14
enable_pin: !P0.10
rotation_distance: 8
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
microsteps: 16

########################################
# TMC2209 or TMC2208 configuration
########################################
[tmc2209 stepper_x]
#[tmc2208 stepper_x]
uart_pin: P1.1
run_current: 0.7

[tmc2209 stepper_y]
#[tmc2208 stepper_y]
uart_pin: P1.8
run_current: 0.7

[tmc2209 stepper_z]
#[tmc2208 stepper_z]
uart_pin: P1.10
run_current: 0.7

[tmc2209 stepper_z1]
#[tmc2208 stepper_z1]
uart_pin: P1.17
run_current: 0.7

[tmc2209 extruder]
#[tmc2208 extruder]
uart_pin: P1.15
run_current: 0.3

#[tmc2209 extruder1]
#[tmc2208 extruder1]
#uart_pin: P1.17
#run_current: 0.3

########################################
# TMC2130 configuration
########################################
#[tmc2130 stepper_x]
#cs_pin: P1.1
#spi_software_miso_pin: P0.5
#spi_software_mosi_pin: P1.16
#spi_software_sclk_pin: P0.4
#run_current: 0.7
#diag1_pin: P1.29
#
#[tmc2130 stepper_y]
#cs_pin: P1.8
#spi_software_miso_pin: P0.5
#spi_software_mosi_pin: P1.16
#spi_software_sclk_pin: P0.4
#run_current: 0.7
#diag1_pin: P1.27
#
#[tmc2130 stepper_z]
#cs_pin: P1.10
#spi_software_miso_pin: P0.5
#spi_software_mosi_pin: P1.16
#spi_software_sclk_pin: P0.4
#run_current: 0.7
#diag1_pin: P1.25
#
#[tmc2130 stepper_z1]
#cs_pin: P1.17
#spi_software_miso_pin: P0.5
#spi_software_mosi_pin: P1.16
#spi_software_sclk_pin: P0.4
#run_current: 0.7
#diag1_pin: P1.26
#
#[tmc2130 extruder]
#cs_pin: P1.15
#spi_software_miso_pin: P0.5
#spi_software_mosi_pin: P1.16
#spi_software_sclk_pin: P0.4
#run_current: 0.3
#diag1_pin: P1.28
#
#[tmc2130 extruder1]
#cs_pin: P1.17
#spi_software_miso_pin: P0.5
#spi_software_mosi_pin: P1.16
#spi_software_sclk_pin: P0.4
#run_current: 0.3
#diag1_pin: P1.26

########################################
#Extruder
########################################
[extruder]
step_pin: P2.13
dir_pin: !P0.11
enable_pin: !P2.12
## Update value below when you perform extruder calibration
## If you ask for 100mm of filament, but in reality it is 98mm:
## rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
rotation_distance: 23.46041055718
microsteps: 16
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: P2.7
## Validate the following thermistor type to make sure it is correct
sensor_type: Generic 3950
sensor_pin: P0.23
min_temp: 10
max_temp: 270
max_power: 1.0
control = pid
pid_kp = 20.741
pid_ki = 0.981
pid_kd = 109.667

########################################
# you can use extra stepper as Z1 or as extra extruder
########################################
#[extruder1]
#step_pin: P1.9
#dir_pin: P1.14
#enable_pin: !P0.10
#rotation_distance: 23.46041055718
#microsteps: 16
#full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
#nozzle_diameter: 0.400
#filament_diameter: 1.75
#heater_pin: P2.7
## Validate the following thermistor type to make sure it is correct
#sensor_type: Generic 3950
#sensor_pin: P0.23
#min_temp: 10
#max_temp: 270
#max_power: 1.0
#control = pid
#pid_kp = 20.741
#pid_ki = 0.981
#pid_kd = 109.667

########################################
# Bed Heater
########################################
[heater_bed]
heater_pin: P2.5
sensor_type: Generic 3950
sensor_pin: P0.24
control: watermark
min_temp: 0
max_temp: 110

########################################
# Fan Control
########################################
[fan]
pin: P2.4

[heater_fan hotend_fan]
pin: P1.4
heater: extruder
heater_temp: 60.0

#[safe_z_home]
#home_xy_position:10,10
#speed:350
#z_hop:3

# see wiring doco https://github.com/makerbase-mks/MKS-SGEN_L-V2/wiki/3D_TOUCH
#[bltouch] # uncomment safe_z_home if using Bltouch/Probe
#sensor_pin: P1.24
#control_pin: P1.23
#x_offset: 0
#y_offset: 0
#z_offset: 10
#speed: 10
#samples: 2
#sample_retract_dist: 5
#samples_result: average
#samples_tolerance: 0.010
#samples_tolerance_retries: 5

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=P1.31, EXP1_3=P0.18, EXP1_5=P0.15, EXP1_7=P1.0,  EXP1_9=<GND>,
    EXP1_2=P1.30, EXP1_4=P0.16, EXP1_6=P0.17, EXP1_8=P1.22, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=P0.8, EXP2_3=P3.25, EXP2_5=P3.26, EXP2_7=P0.27, EXP2_9=<GND>,
    EXP2_2=P0.7, EXP2_4=P0.28, EXP2_6=P0.9,  EXP2_8=<RST>, EXP2_10=<NC>

# See the sample-lcd.cfg file for definitions of common LCD displays.
