# printer.cfg
# main config for duet 3 Mini 5+


# To Compile microcontroller code, use ATSAMD51P20, internal clock, and 16kib bootloader.
# Then, plug in your duet3, and enter bootloader mode by quickly doubletapping the reset button
# Then, you'll need to convert to .UF2 filetype, using the python script found here - https://github.com/microsoft/uf2
# The method I've found most consistent is to export the converted .bin over to a .uf2, and then copy it over to the mounted bootloader "drive". 
# The conversion flags needed are: [klipper_bin_location] -b 0x0004000 -f SAMD51 -o Duet3Firmware_Mini5plus.uf2, so a full call example could be [python3 ~/uf2-master/utils/uf2conv.py ~/klipper/out/klipper.bin -b 0x0004000 -f SAMD51 -o Duet3Firmware_Mini5plus.uf2
# This converts over the .bin file you just made into a .uf2 in the folder you ran the command in. Now its time to flash the MCU
# In bootloader mode, the MCU exposes a "partition" that you can mount and interact with like it's a regular SD card.
# Mount this like you'd mount other storage like a simple flash drive, and then copy your exported .uf2 file into that folder. Flashing should begin once the file is copied over, and if successfully flashed, the activity/status lights will no longer be illuminated
# It will appear as "usb-Klipper_samd51p20a" in .../by-id, and should be ready to go!


# Duet3 Doesn't nessessarily map io to any particular pins. Current pinmap can be found at https://github.com/Duet3D/RepRapFirmware/blob/3.3-dev/src/Duet3Mini/Pins_Duet3Mini.h for reference.
# Thus, there isn't any particular order in how you choose your outputs. 
# This reference config assumes an AC bed heater on Out1 and a DC extruder on Out2.


# Pins for reference:
# Driver Step Pins - 0:PC26, 1:PC25, 2:PC24, 3:PC19, 4:PC16, 5:PC30, 6:PC18
# Driver Dir pins - 0:PB3, 1:PB29, 2:PB28, 3:PD20, 4:PD21, 5:PB0, 6:PA27
# Driver Enable - !PC28
# Uart addresses - 0:0 1:1 2:2 3:3 4:!0 5:!1 6:!2 | "!" is for inverted select pin
# Thermistor Pins - T0:PC0, T1:PC1, T2:PC2
# Vssa Sense:PB4 | Vref Sense:PB5
# Current Sense resistor for drivers - .076ohm
# SPI lines:{PD11, PC7} -> Shared SerCom#7, SPIMosi:PC12, SPIMiso:PC15, SPISCLK:PC13
# Vin Monitor:PC3, uses 11:1 voltage divider
# LED's - Diag:PA31, Act:PA30
# 12864 LCD - LCDCSPIN:PC6, ENCA:PC11, ENCB:PD1, ENCSW:PB9, LCD A0:PA2, LCDBeep:PA0, LCD Neopixel Out:PB12 (shared with IO3.out)
# Neopixel Out - PA8
# Serial0 - TX:PB25, RX:PB24 (USB)
# Serial1 - TX:PB31, RX:PB30
# SBC SPISS pin:PA6, SBCTfrReady:PA3, SerComPins:{PA4, PA5, PA6, PA7} 
# CAN Pins - TX:PB14 RX:PB15
# Heaters, Fan outputs - {Out0:PB17 Out1:PC10 Out2:PB13 Out3:PB11 Out4:PA11, Out5:PB2, Out6:PB1} | Out6 is shared with VFD_Out  
# GPIO_out - {IO1:PB31 IO2:PD9 IO3:PB12 IO4:PD10} IO4 is shared with PSON
# GPIO_in - {IO1:PB30 IO2:PD8 IO3:PB7 IO4:PC5 IO5:PC4 IO6:PC31}
# Driver Diag - {D0:PA10, D1:PB8, D2:PA22, D3:PA23, D4:PC21, D5:PB10, D6:PA27} 
# Mux Pin - PD0
# EXP headers only support 12864 LCD's

[stepper_x]
#driver0
step_pin: PC26
dir_pin: !PB3
enable_pin: !PC28
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 400
endstop_pin: ^PC31 
position_endstop: -57
position_max: 450
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PA1
tx_pin: PA0
select_pins: PD0
uart_address: 0
run_current: 1
hold_current: 0.8
sense_resistor: 0.076
stealthchop_threshold: 0

[stepper_y]
#driver1
step_pin: PC25
dir_pin: PB29
enable_pin: !PC28 
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 400
endstop_pin: ^PC4
position_endstop: 0
position_max: 450
homing_speed: 20

[tmc2209 stepper_y]
uart_pin: PA1
tx_pin: PA0
select_pins: PD0
uart_address: 1
run_current: 1
hold_current: 0.8
sense_resistor: 0.076
stealthchop_threshold: 0


[stepper_z]
#driver2
step_pin: PC24
dir_pin: PB28
enable_pin: !PC28
microsteps: 16
rotation_distance: 2
endstop_pin: probe:z_virtual_endstop
#position_endstop: -5
position_min: -5
position_max: 400

[tmc2209 stepper_z]
uart_pin: PA1
tx_pin: PA0
select_pins: PD0
uart_address: 2
run_current: 1
hold_current: 0.800
sense_resistor: 0.076
stealthchop_threshold: 0

[stepper_z1]
#driver3
step_pin: PC19
dir_pin: !PD20
enable_pin: !PC28
microsteps: 16
rotation_distance: 2


[tmc2209 stepper_z1]
uart_pin: PA1
tx_pin: PA0
select_pins: PD0
uart_address: 3
run_current: 1
hold_current: 0.8
sense_resistor: 0.076
stealthchop_threshold: 0

[extruder]
#driver4
step_pin: PC16
dir_pin: !PD21
enable_pin: !PC28
microsteps: 16
rotation_distance: 4.88549618321
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PB13
sensor_type: ATC Semitec 104GT-2
pullup_resistor: 2200 # The board uses a 2.2k ohm pullup to work with a PT1000 
sensor_pin: PC1
control: pid
pid_Kp: 30.089
pid_Ki: 2.229
pid_Kd: 101.550
min_temp: 0
max_temp: 450
max_extrude_only_distance: 1000
pressure_advance: .05

[tmc2209 extruder]
uart_pin: PA1
tx_pin: PA0
uart_address: 0
select_pins: !PD0
run_current: 1
hold_current: 0.800
sense_resistor: 0.076
stealthchop_threshold: 0


[heater_fan heatbreak_fan]
pin: PB11
heater: extruder
heater_temp: 50.0

[mcu]
serial: /dev/serial/by-path/platform-fd500000.pcie-pci-0000:01:00.0-usb-0:1.1:1.0


[controller_fan my_controller_fan]
pin: PB1
max_power: 1
cycle_time: 60
fan_speed: 1.0
idle_timeout: 60

#[neopixel temp_leds]
#pin: PA8
#   The pin connected to the neopixel. This parameter must be
#   provided.
#chain_count:29


[bltouch]
x_offset: -45 
y_offset: -5
sensor_pin: ^PD8
control_pin: PD9
speed: 5
z_offset: 0.7
samples: 2
#sample_retract_dist: 2.0

[heater_bed]
heater_pin: PB17
sensor_type: NTC 100K beta 3950
sensor_pin: PC0
control: pid
pullup_resistor: 2200
pid_Kp: 61.049
pid_Ki: 2.339 
pid_Kd: 398.344
min_temp: 0
max_temp: 130

[fan]
pin: PA11

[printer]
kinematics: cartesian
max_velocity: 350
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100
square_corner_velocity: 3