# This file contains common pin mappings for the BIGTREETECH SKR V1.3
# board. To use this config, the firmware should be compiled for the
# LPC1768.

# See the example.cfg file for a description of available parameters.

[stepper_x]
step_pin: P2.2
dir_pin: !P2.6
enable_pin: !P2.1
step_distance: .0125
endstop_pin: P1.29  # P1.28 for X-max
position_endstop: 0
position_max: 320
homing_speed: 50

[stepper_y]
step_pin: P0.19
dir_pin: !P0.20
enable_pin: !P2.8
step_distance: .0125
endstop_pin: P1.27  # P1.26 for Y-max
position_endstop: 0
position_max: 300
homing_speed: 50

[stepper_z]
step_pin: P0.22
dir_pin: P2.11
enable_pin: !P0.21
step_distance: .0025
endstop_pin: P1.25  # P1.24 for Z-max
position_endstop: 0.5
position_max: 400

[extruder]
step_pin: P2.13
dir_pin: !P0.11
enable_pin: !P2.12
step_distance: .010526
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: P2.7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.24
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
min_temp: 0
max_temp: 260

#[extruder1]
#step_pin: P0.1
#dir_pin: P0.0
#enable_pin: !P0.10
#heater_pin: P2.4
#sensor_pin: P0.25
#...

[heater_bed]
heater_pin: P2.5
sensor_type: ATC Semitec 104GT-2
sensor_pin: P0.23
control: watermark
min_temp: 0
max_temp: 130

[fan]
pin: P2.3

[mcu]
serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00

[printer]
kinematics: cartesian
max_velocity: 200
max_accel: 2000
max_z_velocity: 25
max_z_accel: 100


########################################
# TMC2208 configuration
########################################

# For TMC2208 UART
#   1) Remove all of the jumpers below the stepper drivers
#   2) Place jumpers on the red pin headers labeled XUART (XUART, YUART etc.)

#[tmc2208 stepper_x]
#uart_pin: P1.17
#microsteps: 16
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 250

#[tmc2208 stepper_y]
#uart_pin: P1.15
#microsteps: 16
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 250

#[tmc2208 stepper_z]
#uart_pin: P1.10
#microsteps: 16
#run_current: 0.650
#hold_current: 0.450
#stealthchop_threshold: 30

#[tmc2208 extruder]
#uart_pin: P1.8
#microsteps: 16
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 5

#[tmc2208 extruder1]
#uart_pin: P1.1
#microsteps: 16
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 5


########################################
# TMC2130 configuration
########################################

# For TMC SPI
#   1) Place jumpers on all the red pin headers under the stepper drivers
#   2) Remove jumpers from the red pin headers labeled XUART (XUART, YUART etc.)

#[tmc2130 stepper_x]
#cs_pin: P1.17
#spi_software_sclk_pin: P0.4
#spi_software_mosi_pin: P4.28
#spi_software_miso_pin: P0.5
##diag1_pin: P1.29
#microsteps: 16
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 250

#[tmc2130 stepper_y]
#cs_pin: P1.15
#spi_software_sclk_pin: P0.4
#spi_software_mosi_pin: P4.28
#spi_software_miso_pin: P0.5
##diag1_pin: P1.27
#microsteps: 16
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 250

#[tmc2130 stepper_z]
#cs_pin: P1.10
#spi_software_sclk_pin: P0.4
#spi_software_mosi_pin: P4.28
#spi_software_miso_pin: P0.5
##diag1_pin: P1.25
#microsteps: 16
#run_current: 0.650
#hold_current: 0.450
#stealthchop_threshold: 30

#[tmc2130 extruder]
#cs_pin: P1.8
#spi_software_sclk_pin: P0.4
#spi_software_mosi_pin: P4.28
#spi_software_miso_pin: P0.5
##diag1_pin: P1.28
#microsteps: 16
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 5

#[tmc2130 extruder1]
#cs_pin: P1.1
#spi_software_sclk_pin: P0.4
#spi_software_mosi_pin: P4.28
#spi_software_miso_pin: P0.5
##diag1_pin: P1.26
#microsteps: 16
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 5


########################################
# Optional LCD configuration
########################################

# "RepRapDiscount 128x64 Full Graphic Smart Controller" type displays
#[display]
#lcd_type: st7920
#cs_pin: P1.19
#sclk_pin: P1.20
#sid_pin: P1.18
#encoder_pins: ^P3.26, ^P3.25
#click_pin: ^!P0.28
#
#[output_pin beeper]
#pin: P1.30

# "RepRapDiscount 2004 Smart Controller" type displays
#[display]
#lcd_type: hd44780
#rs_pin: P1.19
#e_pin: P1.18
#d4_pin: P1.20
#d5_pin: P1.21
#d6_pin: P1.22
#d7_pin: P1.23
#encoder_pins: ^P3.26, ^P3.25
#click_pin: ^!P0.28
#
#[output_pin beeper]
#pin: P1.30

# 128x64 Full Graphic Creality CR10 / ENDER 3 stockdisplay
#[display]
#lcd_type: st7920
#cs_pin: P1.19
#sclk_pin: P1.21
#sid_pin: P1.23
#encoder_pins: ^P1.18, ^P1.20
#click_pin: !P0.28
#
#[output_pin beeper]
#pin: P1.30

# MKS Mini 12864 LCD.
# Make sure that the EXP1 and EXP2 are rotated correctly on the
# display board. The cutouts on the connectors should be towards the
# center of the PCB. See:
#   https://reprap.org/wiki/MKS_MINI_12864#Physical_Interface
# If they are wrong, the connector housing can be pried off carefully
# with a small screwdriver and relocated the correct way.
#
#[display]
#lcd_type: uc1701
#cs_pin: P1.21
#a0_pin: P1.22
#contrast: 40
#encoder_pins: ^P3.25, ^P3.26
#click_pin: ^!P0.28
#
#[output_pin beeper]
#pin: P1.30
