# This file contains an example configuration for the Replicape rev B3
# board. To use this config, one must compile and install the
# micro-controller code for the "Beaglebone PRU", and then compile and
# install the micro-controller code a second time for a "Linux
# process".

# NOTE: Klipper does not alter the input/output state of the
# Beaglebone pins and it does not control their pull-up resistors.
# Typically the correct settings are automatically applied when the
# Beaglebone detects the Replicape board, but if changes are needed
# they must be specified in a "device tree overlay" or via the
# config-pin program.

# See the example.cfg file for a description of available parameters.

[mcu]
serial: /dev/rpmsg_pru30
pin_map: beaglebone

[mcu host]
serial: /tmp/klipper_host_mcu

# The "replicape" config section adds "replicape:stepper_x_enable"
# virtual stepper enable pins (for steppers x, y, z, e, and h) and
# "replicape:power_x" PWM output pins (for hotbed, e, h, fan0, fan1,
# fan2, and fan3) that may then be used elsewhere in the config file.
[replicape]
revision: B3
#   The replicape hardware revision. Currently only revision "B3" is
#   supported. This parameter must be provided.
#enable_pin: !P9_41
#   The replicape global enable pin. The default is !P9_41.
host_mcu: host
#   The name of the mcu config section that communicates with the
#   Klipper "linux process" mcu instance. This parameter must be
#   provided.
#standstill_power_down: False
#   This parameter controls the CFG6_ENN line on all stepper
#   motors. True sets the enable lines to "open". The default is
#   False.
#servo0_enable: False
#   This parameter controls whether end_stop_X_2 is used for endstops
#   (via P9_11) or for servo_0 (via P9_14). The default is False.
#servo1_enable: False
#   This parameter controls whether end_stop_Y_2 is used for endstops
#   (via P9_28) or for servo_1 (via P9_16). The default is False.
stepper_x_microstep_mode: stealth16
#   This parameter controls the CFG1 and CFG2 pins of the given
#   stepper motor driver. Available options are: disable, 1, 2,
#   spread2, 4, 16, spread4, spread16, stealth4, and stealth16. The
#   default is disable.
stepper_x_current: 0.4
#   The configured maximum current (in Amps) of the stepper motor
#   driver. This parameter must be provided if the stepper is not in a
#   disable mode.
#stepper_x_chopper_off_time_high: False
#   This parameter controls the CFG0 pin of the stepper motor driver
#   (True sets CFG0 high, False sets it low). The default is False.
#stepper_x_chopper_hysteresis_high: False
#   This parameter controls the CFG4 pin of the stepper motor driver
#   (True sets CFG4 high, False sets it low). The default is False.
#stepper_x_chopper_blank_time_high: True
#   This parameter controls the CFG5 pin of the stepper motor driver
#   (True sets CFG5 high, False sets it low). The default is True.
stepper_y_microstep_mode: stealth16
stepper_y_current: 0.4
stepper_z_microstep_mode: stealth16
stepper_z_current: 0.15
stepper_e_microstep_mode: stealth16
stepper_e_current: 0.4
stepper_h_microstep_mode: stealth16
stepper_h_current: 0.4

[stepper_x]
step_pin: P8_17
dir_pin: !P8_26
enable_pin: replicape:stepper_x_enable
step_distance: 0.010622510561537351
endstop_pin: !P9_25
position_endstop: 120
position_max: 120
position_min:-145
homing_speed: 50
homing_positive_dir: True

[stepper_y]
step_pin: P8_12
dir_pin: !P8_19
enable_pin: replicape:stepper_y_enable
step_distance: 0.010622510561537351
endstop_pin: !P9_23
position_endstop: 75
position_max: 75
position_min: -88
homing_speed: 50
homing_positive_dir: True

[stepper_z]
step_pin: P8_13
dir_pin: !P8_14
enable_pin: replicape:stepper_z_enable
step_distance: .0025
endstop_pin: !P9_13
position_endstop: 0
homing_speed: 10
position_max: 150

[printer]
kinematics: cartesian
max_velocity: 100
max_accel: 1000
max_z_velocity: 25
max_z_accel: 30

[extruder]
step_pin: P9_12
dir_pin: !P8_15
enable_pin: replicape:stepper_e_enable
step_distance: 0.010386890710934887
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: replicape:power_e
sensor_type: MAX6675
spi_mode: 0
spi_speed: 100000
sensor_pin: host:spi1_2
#sensor_type: EPCOS 100K B57560G104F
#sensor_pin: host:analog4
control: pid
pid_Kp: 17.126
pid_Ki: 0.365
pid_Kd: 201.013
min_temp: 0
max_temp: 250

[extruder1]
step_pin: P8_11
dir_pin: !P8_16
enable_pin: replicape:stepper_h_enable
step_distance: 0.010386890710934887
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: replicape:power_h
sensor_type: MAX6675
spi_mode: 0
spi_speed: 100000
sensor_pin: host:spi1_0
#sensor_type: EPCOS 100K B57560G104F
#sensor_pin: host:analog4
control: pid
pid_Kp: 17.126
pid_Ki: 0.365
pid_Kd: 201.013
min_temp: 0
max_temp: 250

[verify_heater extruder]
heating_gain: 2
#   The minimum temperature (in Celsius) that the heater must increase
#   by when approaching a new target temperature. The default is 2.
check_gain_time: 40
#   The amount of time (in seconds) that the heating_gain must be met
#   in before an error is raised. The default is 20 seconds for
#   extruders and 60 seconds for heater_bed.
#hysteresis: 5
#   The difference between the target temperature and the current
#   temperature for the heater to be considered within range of the
#   target temperature. The default is 5.
#max_error: 120
#   The maximum temperature difference a heater that falls outside the
#   target temperature range may accumulate before an error is
#   raised. For example, if the target temperature is 200, the
#   hysteresis is 5, the max_error is 120, and the temperature is
#   reported at 185 degrees for 12 seconds then an error would be
#   raised (or 24 seconds at 190, or 120 seconds at 194, etc.). The
#   default is 120.

[heater_bed]
heater_pin: replicape:power_hotbed
sensor_type: EPCOS 100K B57560G104F
sensor_pin: host:analog6
control: pid
pid_Kp: 72.269
pid_Ki: 2.590
pid_Kd: 504.061
min_temp: 0
max_temp: 130

[heater_fan nozzle_fan]
pin: replicape:power_fan0
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

[heater_fan nozzle_fan1]
pin: replicape:power_fan1
heater: extruder1
heater_temp: 50.0
fan_speed: 1.0


[fan]
pin: replicape:power_fan2

[virtual_sdcard]
path: /home/debian/.octoprint/uploads/
