# Klipper firmware config file for Anycubic Chiron. To use this config,
# the firmware should be compiled for the AVR atmega2560.

# See docs/Config_Reference.md for a description of parameters.

[stepper_x]
step_pin: ar54
dir_pin: !ar55
enable_pin: !ar38
rotation_distance: 40
microsteps: 16
endstop_pin: ^!ar3
position_min: -5
position_endstop: -5
position_max: 400
homing_speed: 30.0

[stepper_y]
step_pin: ar60
dir_pin: !ar61
enable_pin: !ar56
rotation_distance: 32
microsteps: 16
endstop_pin: ^!ar42
position_endstop: 0
position_max: 400
homing_speed: 30.0

[stepper_z]
step_pin: ar46
dir_pin: !ar48
enable_pin: !ar62
rotation_distance: 8
microsteps: 16
endstop_pin: ^ar18
position_endstop: 0.0
position_max: 440
position_min: -6.0
homing_speed: 5.0

[stepper_z1]
step_pin: ar36
dir_pin: !ar34
enable_pin: !ar30
rotation_distance: 8
microsteps: 16
endstop_pin: ^ar43

[extruder]
step_pin: ar26
dir_pin: ar28
enable_pin: !ar24
rotation_distance: 7.857
microsteps: 16
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: ar10
sensor_type: ATC Semitec 104GT-2
sensor_pin: analog13
control: pid
pid_kp: 22.309
pid_ki: 1.110
pid_kd: 112.104
min_temp: 0
max_temp: 255
pressure_advance: 0.66

[heater_fan extruder_fan]
pin: ar44

[heater_bed]
heater_pin: ar45
sensor_type: EPCOS 100K B57560G104F
sensor_pin: analog14
control: pid
pid_kp: 73.183
pid_ki: 1.654
pid_kd: 809.591

min_temp: 0
max_temp: 110

[fan]
pin: ar9

[mcu]
serial: /dev/serial/by-id/usb-Silicon_Labs_CP2102N_USB_to_UART_Bridge_Controller_da702bac5fc6e711ad67c5ae16168d3e-if00-port0
pin_map: arduino

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 2500
max_z_velocity: 10
max_z_accel: 60

[probe]
pin: ar2
x_offset: 2.0
y_offset: 0.0
# this is probably safe, but you should do a Z test to figure it out properly
# z_offset: 15.5
speed: 5.0
samples: 3
sample_retract_dist: 2.0
samples_result: average
samples_tolerance: 0.100
samples_tolerance_retries: 0

[bed_mesh]
speed: 30
horizontal_move_z: 18.5
mesh_min: 20,20
mesh_max: 380, 380
probe_count: 5,5

[heater_fan stepstick_fan]
pin: ar7

[input_shaper]
shaper_freq_x: 21.108
shaper_freq_y: 23.598
shaper_type: mzv

#[filament_switch_sensor fil_out]
#switch_pin: ar19
#pause_on_runout: True

[gcode_macro START_PRINT]
gcode:
    # Start with the fan off
    M107
    # Set units to millimeters
    G21
    # {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    # {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}
    # Start bed heating
    # M140 S{BED_TEMP}
    # Use absolute coordinates
    G90
    # Reset the G-Code Z offset (adjust Z offset if needed)
    SET_GCODE_OFFSET Z=-0.13
    # Home the printer
    G28
    # Move the nozzle near the bed
    G1 Z5 F3000
    # Move the nozzle very close to the bed
    G1 Z0.15 F300
    # Wait for bed to reach temperature
    # M190 S{BED_TEMP}
    # Set and wait for nozzle to reach temperature
    # M109 S{EXTRUDER_TEMP}
    # Change to relative positioning mode for retract filament and nozzle lifting
    G91
    # Retract 1mm filament for a clean start
    G1 F200 E-1
    # Zero the extruded length
    G92 E0
    # Absolute positioning
    G90
    # Set extruder to absolute mode too
    M82

[gcode_macro END_PRINT]
gcode:
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    # Move nozzle away from print while retracting
    G91
    # Retract the filament a bit before lifting the nozzle
    G1 F200 E-4
    G1 X-2 Y-2 E-3 F300
    # Raise nozzle by 10mm
    G1 Z10 F3000
    G90
    # Move the print to max y pos for part rermoval
    G1 X0 Y400
    # Disable steppers
    M84

[pause_resume]

[gcode_macro M600]
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    TURN_OFF_HEATERS
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    # relative
    G91
    # Raise nozzle 5mm
    G1 Z5 F3000
    # Back to absolute
    G90
    # Move the print to max y pos for part rermoval
    G1 X0 Y400
    BASE_CANCEL_PRINT
