# This file contains pin mappings for the stock Voxelab Aquila N32
# To use this config, during "make menuconfig" select the
# STM32F103 with a "28KiB bootloader" and serial (on USART1 PA10/PA9)
# communication.


# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# for Bltouch use :
# https://www.prusaprinters.org/prints/105419-aquila-hotend-mount-satsana-remix
# See docs/Config_Reference.md for a description of parameters.

# TODO
# get LCD working
#

[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA5
position_endstop: 0
position_max: 235
homing_speed: 50

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA6
position_endstop: 0
position_max: 235
homing_speed: 50

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
position_endstop: 0.0                     # disable to use BLTouch
endstop_pin: ^PA7                         # disable to use BLTouch
#endstop_pin: probe:z_virtual_endstop       # enable to use BLTouch
#position_min : -5                          # enable to use BLTouch
position_max: 250



[extruder]
max_extrude_only_distance: 100.0
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
rotation_distance: 34.406
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
control: pid
# tuned for stock hardware with 200 degree Celsius target
pid_Kp: 36.004
pid_Ki: 3.381
pid_Kd: 95.860
min_temp: 0
max_temp: 300

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
control: pid
# tuned for stock hardware with 50 degree Celsius target
pid_Kp: 71.256
pid_Ki: 1.156
pid_Kd: 1098.239
min_temp: 0
max_temp: 120

[fan]
pin: PA0

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[virtual_sdcard]
path: ~/gcode_files

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

#[bltouch]                     # enable for BLTouch
#sensor_pin: ^PB1
#control_pin: PB0
#x_offset: -51
#y_offset: -13
#z_offset: 0
#z_offset: 0.955
#pin_move_time: 0.700
#probe_with_touch_mode: False

#[safe_z_home]             # enable for BLTouch
#home_xy_position: 165,124
#speed: 50
#z_hop: 10                 # Move up 10mm
#z_hop_speed: 5

#[bed_mesh] # enable for BLTouch
#speed: 80
#mesh_min: 40,20
#mesh_max: 184,222
#probe_count: 5,5


#[gcode_macro G29] # enable for BLTouch
#gcode:
#    BED_MESH_CALIBRATE
