#Configuration file in Klipper https://github.com/Klipper3d/klipper/blob/master/config/generic-fysetc-s6-v2.cfg
# ——————————————————————————————————————————————————————————————————————————————
# Klipper Firmware Configuration
# ——————————————————————————————————————————————————————————————————————————————
#[*] Enable extra low-level configuration options
#Micro-controller Architecture (STMicroelectronics STM32) --->
#Processor model (STM32F446) --->
#Bootloader offset (No bootloader) --->
#Clock Reference (12 MHz crystal) --->
#Communication interface (USB (on PA11/PA12)) --->
#USB ids --->
#() GPIO pins to set at micro-controller startup


#Communication interface (USB (on PA11/PA12)) --->
#Communication interface (USART1 (on PA9/PA110)) --->
################################################################################
# MCU
################################################################################

[mcu]
#serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_320018000F51303530323539-if00 # USB
serial: /dev/ttyAMA0 #USART
restart_method: command

################################################################################
# Sensors
################################################################################

[temperature_sensor mcu]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor pi]
sensor_type: temperature_host
min_temp: 0
max_temp: 100


################################################################################
# Pin Aliases
################################################################################
[board_pins fysetc-f6]
aliases:
########################################
# Steppers pins
########################################
X_STEP_PIN=PE11,X_DIR_PIN=PE10, X_ENABLE_PIN=PE9, X_STOP_PIN=PB14,
Y_STEP_PIN=PD8, Y_DIR_PIN=PB12, Y_ENABLE_PIN=PD9, Y_STOP_PIN=PB13,
Z_STEP_PIN=PD14,Z_DIR_PIN=PD13, Z_ENABLE_PIN=PD15, #Z_STOP_PIN=PA0, #Right motor
Z1_STEP_PIN=PE6,Z1_DIR_PIN=PC13,Z1_ENABLE_PIN=PE5, Z1_STOP_PIN=PA1, #Left motor
E0_STEP_PIN=PD5,E0_DIR_PIN=PD6, E0_ENABLE_PIN=PD4,
########################################
# Heaters pins
########################################
E_HEATER_PIN=PB3, E_SENSOR_PIN=PC0,
BED_HEATER_PIN=PC8, BED_SENSOR_PIN=PC3,
########################################
# Fans pins
########################################
HEATER_FAN_PIN=PB1,
PARTCOOLING_FAN_PIN=PB0,
########################################
# BLTouch pins
########################################
BLTOUCH_SENSOR_PIN=PA0, # Z-
BLTOUCH_CONTROL_PIN=PA3, # Z+
########################################
# TMC2209 UART
########################################
TMC_X_UART_PIN=PE8,
TMC_Y_UART_PIN=PC4,
TMC_Z_UART_PIN=PD12,
TMC_E0_UART_PIN=PA15,
TMC_E1_UART_PIN=PC5,
TMC_E2_UART_PIN=PE0,
########################################
# EXP1 / EXP2 (display) pins
########################################
# EXP1 header
EXP1_1=PC9, EXP1_2=PA8,
EXP1_3=PC11,EXP1_4=PD2,
EXP1_5=PC10,EXP1_6=PC12,# Slot in the socket on this side
EXP1_7=PD0, EXP1_8=PD1,
EXP1_9=<GND>, EXP1_10=<5V>,
# EXP2 header
EXP2_1=PA6, EXP2_2=PA5,
EXP2_3=PC6, EXP2_4=PA4,
EXP2_5=PC7, EXP2_6=PA7, # Slot in the socket on this side
EXP2_7=PB10,EXP2_8=<RST>,
EXP2_9=<GND>, EXP2_10=<5V>,
########################################
# LED pins
########################################
LED_1=PB5
################################################################################


[heater_bed]
heater_pin: BED_HEATER_PIN
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: BED_SENSOR_PIN
min_temp: 0
max_temp: 130
control: watermark

[fan]
pin: PARTCOOLING_FAN_PIN

[heater_fan heater_fan]
pin: HEATER_FAN_PIN


[virtual_sdcard]
path: /home/pi/printer_data/gcodes

[force_move]
enable_force_move: True

[bed_screws]
screw1: 72,42.5
screw1_name: front left screw
screw2: 332,42.5
screw2_name: front right screw
screw3: 332,267.5
screw3_name: back right screw
screw4: 72,267.5
screw4_name: back left screw
horizontal_move_z: 10
speed: 100

[pause_resume]

[display_status]

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 4000
max_accel_to_decel: 4000
max_z_velocity: 20
max_z_accel: 100
square_corner_velocity: 5.0


################################################################################
# X, Y, Z
################################################################################

[stepper_x]
step_pin: X_STEP_PIN
dir_pin: !X_DIR_PIN
enable_pin: !X_ENABLE_PIN
rotation_distance: 40
microsteps: 256
endstop_pin: !X_STOP_PIN
position_min: 0.0
position_endstop: 0.0
position_max: 350 # X-axis bed size
homing_speed: 120
homing_retract_dist: 0

###############################################

[stepper_y]
step_pin: Y_STEP_PIN
dir_pin: Y_DIR_PIN
enable_pin: !Y_ENABLE_PIN
rotation_distance: 40
microsteps: 256
endstop_pin: !Y_STOP_PIN
position_min: 0.0
position_endstop: 0.0
position_max: 310 # Y-axis bed size
homing_speed: 120
homing_retract_dist: 0

###############################################

[stepper_z] # left stepper
step_pin: Z1_STEP_PIN
dir_pin: Z1_DIR_PIN
enable_pin: !Z1_ENABLE_PIN
rotation_distance: 8
microsteps: 256
endstop_pin: !Z1_STOP_PIN
position_min: -0.2
#position_endstop: 0.0
position_max: 350 # Z-axis print volume size
homing_speed: 15
second_homing_speed: 5

################################################################################
# E0
################################################################################
[extruder]
step_pin: E0_STEP_PIN
dir_pin: E0_DIR_PIN
enable_pin: !E0_ENABLE_PIN
rotation_distance: 7.6674816624 #7.82396088 #15.6479217
microsteps: 64
nozzle_diameter: 0.400
filament_diameter: 1.750
#max_extrude_only_distance: 100
heater_pin: E_HEATER_PIN
#sensor_type: EPCOS 100K B57560G104F
sensor_type: ATC Semitec 104GT-2
sensor_pin: E_SENSOR_PIN
min_temp: 0
max_temp: 290

################################################################################
# E1(Z1)
################################################################################

[stepper_z1]# right stepper
step_pin: Z_STEP_PIN
dir_pin: Z_DIR_PIN
enable_pin: !Z_ENABLE_PIN
rotation_distance: 8
microsteps: 256
#endstop_pin: !Z_STOP_PIN

################################################################################
# X, Y, Z, E0, E1(Z1) UART Section
################################################################################

[tmc2209 stepper_x]
uart_pin: TMC_X_UART_PIN
run_current: 0.800
hold_current: 0.400
stealthchop_threshold: 999999
interpolate: True
###############################################

[tmc2209 stepper_y]
uart_pin: TMC_Y_UART_PIN
run_current: 0.800
hold_current: 0.400
stealthchop_threshold: 999999
interpolate: True
###############################################

[tmc2209 stepper_z]
uart_pin: TMC_E1_UART_PIN
run_current: 0.400
hold_current: 0.200
stealthchop_threshold: 999999 #0
interpolate: True
###############################################

[tmc2209 extruder]
uart_pin: TMC_E0_UART_PIN
run_current: 0.400
hold_current: 0.200
stealthchop_threshold: 999999 #0
interpolate: True
###############################################

[tmc2209 stepper_z1]
uart_pin: TMC_Z_UART_PIN
run_current: 0.400
hold_current: 0.200
stealthchop_threshold: 999999 #0
interpolate: True
###############################################
