[stepper_x]
step_pin: PF0
dir_pin: PF1
enable_pin: !PD7
step_distance: .0125
endstop_pin: ^PK1
position_endstop: 0
position_max: 235
homing_speed: 50

[tmc2208 stepper_x]
uart_pin: PG3
tx_pin: PJ2
microsteps: 16
interpolate: True
run_current: 0.7
hold_current: 0.7
stealthchop_threshold: 250

[stepper_y]
step_pin: PF6
dir_pin: PF7
enable_pin: !PF2
step_distance: .0125
endstop_pin: ^PJ1
position_endstop: 0
position_max: 238
homing_speed: 50

[tmc2208 stepper_y]
uart_pin: PJ3
tx_pin: PJ4
microsteps: 16
interpolate: True
run_current: 0.7
hold_current: 0.7
stealthchop_threshold: 250

[stepper_z]
step_pin: PL6
dir_pin: !PL1
enable_pin: !PF4
step_distance: .0025
endstop_pin: ^PB6
position_endstop: 0
position_max: 250
position_min: -1

[tmc2208 stepper_z]
uart_pin: PE2
tx_pin: PE6
microsteps: 16
interpolate: True
run_current: 0.7
hold_current: 0.7
stealthchop_threshold: 100

[extruder]
step_pin: PA4
dir_pin: !PA6
enable_pin: !PA2
step_distance: .0025
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PE3
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PK4
control: pid
pid_Kp: 29.662
pid_Ki: 2.326
pid_Kd: 94.549
min_temp: 0
max_temp: 320
min_extrude_temp: 10
max_extrude_cross_section: 250
pressure_advance_lookahead_time: 0.02
#pressure_advance: 0.55

[tmc2208 extruder]
uart_pin: PJ5
tx_pin: PJ6
microsteps: 16
interpolate: True
run_current: 0.9
hold_current: 0.9
stealthchop_threshold: 250

[heater_bed]
heater_pin: PH5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PK7
#control: watermark
control = pid
pid_kp = 74.536
pid_ki = 1.206
pid_kd = 1151.587
min_temp: 0
max_temp: 130

[heater_fan my_nozzle_fan]
#fan for hotend FAN1
pin: PL4
max_power: 1
shutdown_speed: 0
#cycle_time:
#hardware_pwm:
#kick_start_time:
heater: extruder
heater_temp: 50.0
fan_speed: 0.9

[heater_fan my_control_fan]
#fan for control board FAN2
pin: PL3
max_power: 1
shutdown_speed: 0
#cycle_time:
#hardware_pwm:
#kick_start_time:
heater: extruder
heater_temp: 50.0
fan_speed: 1

[fan]
#fan for printed model FAN0
pin: PL5

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB2.0-Serial-if00-port0
#pin_map: arduino

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

# "RepRapDiscount 128x64 Full Graphic Smart Controller" type displays
[display]
lcd_type: st7920
cs_pin: PA5
sclk_pin: PA3
sid_pin: PA7
encoder_pins: ^PA1, ^PH0
click_pin: ^!PC2
