# This file contains a configuration snippet for a quad extruder printer
# with two independent gantries each having two independent tools.

# See docs/Config_Reference.md for a description of parameters.
# Test config for generic cartesian kinematics with quad independent extruders

[mcu]
serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00

[mcu auxboard]
serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_67890-if11

[carriage carriage_t0]
axis: x
position_endstop: 0
position_max: 300
homing_speed: 50
endstop_pin: auxboard:PG6

[dual_carriage carriage_t1]
primary_carriage: carriage_t0
safe_distance: 70
position_endstop: 300
position_max: 300
homing_speed: 50
endstop_pin: auxboard:PG9

[dual_carriage carriage_t2]
axis: x
position_endstop: 0
position_max: 300
homing_speed: 50
endstop_pin: auxboard:PG10

[dual_carriage carriage_t3]
primary_carriage: carriage_t2
safe_distance: 70
position_endstop: 300
position_max: 300
homing_speed: 50
endstop_pin: auxboard:PG11

[carriage carriage_gantry0]
axis: y
position_endstop: 0
position_max: 200
homing_speed: 50
endstop_pin: PG6

[dual_carriage carriage_gantry1]
primary_carriage: carriage_gantry0
safe_distance: 50
position_endstop: 200
position_max: 200
homing_speed: 50
endstop_pin: PG10

[carriage carriage_z]
axis: z
position_endstop: 0.5
position_max: 100
endstop_pin: PG12

[stepper stepper_t0_x]
carriages: carriage_t0
step_pin: auxboard:PF13
dir_pin: auxboard:PF12
enable_pin: !auxboard:PF14
microsteps: 16
rotation_distance: 40

[stepper stepper_t1_x]
carriages: carriage_t1
step_pin: auxboard:PG0
dir_pin: auxboard:PG1
enable_pin: !auxboard:PF15
microsteps: 16
rotation_distance: 40

[stepper stepper_t2_x]
carriages: carriage_t2
step_pin: auxboard:PF11
dir_pin: auxboard:PG3
enable_pin: !auxboard:PG5
microsteps: 16
rotation_distance: 40

[stepper stepper_t3_x]
carriages: carriage_t3
step_pin: auxboard:PG4
dir_pin: auxboard:PC1
enable_pin: !auxboard:PA2
microsteps: 16
rotation_distance: 40

[stepper gantry0]
carriages: carriage_gantry0
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
microsteps: 16
rotation_distance: 40

[stepper gantry1]
carriages: carriage_gantry1
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
microsteps: 16
rotation_distance: 40

[stepper z0]
carriages: carriage_z0
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
microsteps: 16
rotation_distance: 8

[extruder]
step_pin: auxboard:PF9
dir_pin: auxboard:PF10
enable_pin: !auxboard:PG2
heater_pin: auxboard:PA0
sensor_pin: auxboard:PF4
microsteps: 16
rotation_distance: 33.500
nozzle_diameter: 0.400
filament_diameter: 1.750
sensor_type: EPCOS 100K B57560G104F
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
min_temp: 0
max_temp: 250

[extruder1]
step_pin: auxboard:PC13
dir_pin: auxboard:PF0
enable_pin: !auxboard:PF1
heater_pin: auxboard:PA3
sensor_pin: auxboard:PF5
microsteps: 16
rotation_distance: 33.5
nozzle_diameter: 0.400
filament_diameter: 1.750
sensor_type: EPCOS 100K B57560G104F
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
min_temp: 0
max_temp: 250

[extruder2]
step_pin: auxboard:PE2
dir_pin: auxboard:PE3
enable_pin: !auxboard:PD4
heater_pin: auxboard:PB0
sensor_pin: auxboard:PF6
microsteps: 16
rotation_distance: 33.5
nozzle_diameter: 0.400
filament_diameter: 1.750
sensor_type: EPCOS 100K B57560G104F
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
min_temp: 0
max_temp: 250

[extruder3]
step_pin: auxboard:PE6
dir_pin: auxboard:PA14
enable_pin: !auxboard:PE0
heater_pin: auxboard:PB11
sensor_pin: auxboard:PF7
microsteps: 16
rotation_distance: 33.5
nozzle_diameter: 0.400
filament_diameter: 1.750
sensor_type: EPCOS 100K B57560G104F
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
min_temp: 0
max_temp: 250

[gcode_macro PARK_EXTRUDERS]
gcode:
    G90
    SET_DUAL_CARRIAGE CARRIAGE=carriage_gantry1
    G1 Y{printer.configfile.settings["dual_carriage carriage_gantry1"].position_max} F12000
    SET_DUAL_CARRIAGE CARRIAGE=carriage_gantry0
    G1 Y{printer.configfile.settings["carriage carriage_gantry0"].position_min} F12000
    SET_DUAL_CARRIAGE CARRIAGE=carriage_t3
    G1 X{printer.configfile.settings["dual_carriage carriage_t3"].position_max} F12000
    SET_DUAL_CARRIAGE CARRIAGE=carriage_t1
    G1 X{printer.configfile.settings["dual_carriage carriage_t1"].position_max} F12000
    SET_DUAL_CARRIAGE CARRIAGE=carriage_t2
    G1 X{printer.configfile.settings["dual_carriage carriage_t2"].position_min} F12000
    SET_DUAL_CARRIAGE CARRIAGE=carriage_t0
    G1 X{printer.configfile.settings["carriage carriage_t0"].position_min} F12000

[gcode_macro T0]
gcode:
    PARK_EXTRUDERS
    ACTIVATE_EXTRUDER EXTRUDER=extruder
    SET_DUAL_CARRIAGE CARRIAGE=carriage_gantry0
    SET_DUAL_CARRIAGE CARRIAGE=carriage_t0

[gcode_macro T1]
gcode:
    PARK_EXTRUDERS
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder1 MOTION_QUEUE=extruder1
    ACTIVATE_EXTRUDER EXTRUDER=extruder1
    SET_DUAL_CARRIAGE CARRIAGE=carriage_gantry0
    SET_DUAL_CARRIAGE CARRIAGE=carriage_t1

[gcode_macro T2]
gcode:
    PARK_EXTRUDERS
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder2 MOTION_QUEUE=extruder2
    ACTIVATE_EXTRUDER EXTRUDER=extruder2
    SET_DUAL_CARRIAGE CARRIAGE=carriage_gantry1
    SET_DUAL_CARRIAGE CARRIAGE=carriage_t2

[gcode_macro T3]
gcode:
    PARK_EXTRUDERS
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder3 MOTION_QUEUE=extruder3
    ACTIVATE_EXTRUDER EXTRUDER=extruder3
    SET_DUAL_CARRIAGE CARRIAGE=carriage_gantry1
    SET_DUAL_CARRIAGE CARRIAGE=carriage_t2

[gcode_macro SET_COPY_MODE]
gcode:
    G90
    {% set y_center = 0.5 * (printer.configfile.settings["dual_carriage carriage_gantry1"].position_max + printer.configfile.settings["carriage carriage_gantry0"].position_min) %}
    {% set x_max = [printer.configfile.settings["dual_carriage carriage_t3"].position_max, printer.configfile.settings["dual_carriage carriage_t1"].position_max]|min %}
    {% set x_min = [printer.configfile.settings["dual_carriage carriage_t2"].position_min, printer.configfile.settings["carriage carriage_t0"].position_min]|max %}
    {% set x_center = 0.5 * (x_max + x_min) %}
    SET_DUAL_CARRIAGE CARRIAGE=carriage_gantry0
    G1 Y{printer.configfile.settings["carriage carriage_gantry0"].position_min} F12000
    SET_DUAL_CARRIAGE CARRIAGE=carriage_gantry1
    G1 Y{y_center} F12000
    SET_DUAL_CARRIAGE CARRIAGE=carriage_t2
    G1 X{printer.configfile.settings["dual_carriage carriage_t2"].position_min} F12000
    SET_DUAL_CARRIAGE CARRIAGE=carriage_t0
    G1 X{printer.configfile.settings["carriage carriage_t0"].position_min} F12000
    SET_DUAL_CARRIAGE CARRIAGE=carriage_t3
    G1 X{x_center} F12000
    SET_DUAL_CARRIAGE CARRIAGE=carriage_t1
    G1 X{x_center} F12000
    SET_DUAL_CARRIAGE CARRIAGE=carriage_t0 MODE=PRIMARY
    SET_DUAL_CARRIAGE CARRIAGE=carriage_t1 MODE=COPY
    SET_DUAL_CARRIAGE CARRIAGE=carriage_t2 MODE=COPY
    SET_DUAL_CARRIAGE CARRIAGE=carriage_t3 MODE=COPY
    SET_DUAL_CARRIAGE CARRIAGE=carriage_gantry0 MODE=PRIMARY
    SET_DUAL_CARRIAGE CARRIAGE=carriage_gantry1 MODE=COPY
    ACTIVATE_EXTRUDER EXTRUDER=extruder
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder1 MOTION_QUEUE=extruder
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder2 MOTION_QUEUE=extruder
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder3 MOTION_QUEUE=extruder

[gcode_macro SET_MIRROR_MODE1]
gcode:
    G90
    {% set y_center = 0.5 * (printer.configfile.settings["dual_carriage carriage_gantry1"].position_max + printer.configfile.settings["carriage carriage_gantry0"].position_min) %}
    SET_DUAL_CARRIAGE CARRIAGE=carriage_gantry0
    G1 Y{printer.configfile.settings["carriage carriage_gantry0"].position_min} F12000
    SET_DUAL_CARRIAGE CARRIAGE=carriage_gantry1
    G1 Y{y_center} F12000
    SET_DUAL_CARRIAGE CARRIAGE=carriage_t2
    G1 X{printer.configfile.settings["dual_carriage carriage_t2"].position_min} F12000
    SET_DUAL_CARRIAGE CARRIAGE=carriage_t0
    G1 X{printer.configfile.settings["carriage carriage_t0"].position_min} F12000
    SET_DUAL_CARRIAGE CARRIAGE=carriage_t3
    G1 X{printer.configfile.settings["dual_carriage carriage_t3"].position_max} F12000
    SET_DUAL_CARRIAGE CARRIAGE=carriage_t1
    G1 X{printer.configfile.settings["dual_carriage carriage_t1"].position_max} F12000
    SET_DUAL_CARRIAGE CARRIAGE=carriage_t0 MODE=PRIMARY
    SET_DUAL_CARRIAGE CARRIAGE=carriage_t1 MODE=MIRROR
    SET_DUAL_CARRIAGE CARRIAGE=carriage_t2 MODE=COPY
    SET_DUAL_CARRIAGE CARRIAGE=carriage_t3 MODE=MIRROR
    SET_DUAL_CARRIAGE CARRIAGE=carriage_gantry0 MODE=PRIMARY
    SET_DUAL_CARRIAGE CARRIAGE=carriage_gantry1 MODE=COPY
    ACTIVATE_EXTRUDER EXTRUDER=extruder
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder1 MOTION_QUEUE=extruder
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder2 MOTION_QUEUE=extruder
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder3 MOTION_QUEUE=extruder

[gcode_macro SET_MIRROR_MODE2]
gcode:
    G90
    {% set x_max = [printer.configfile.settings["dual_carriage carriage_t3"].position_max, printer.configfile.settings["dual_carriage carriage_t1"].position_max]|min %}
    {% set x_min = [printer.configfile.settings["dual_carriage carriage_t2"].position_min, printer.configfile.settings["carriage carriage_t0"].position_min]|max %}
    {% set x_center = 0.5 * (x_max + x_min) %}
    SET_DUAL_CARRIAGE CARRIAGE=carriage_gantry0
    G1 Y{printer.configfile.settings["carriage carriage_gantry0"].position_min} F12000
    SET_DUAL_CARRIAGE CARRIAGE=carriage_gantry1
    G1 Y{printer.configfile.settings["dual_carriage carriage_gantry1"].position_max} F12000
    SET_DUAL_CARRIAGE CARRIAGE=carriage_t2
    G1 X{printer.configfile.settings["dual_carriage carriage_t2"].position_min} F12000
    SET_DUAL_CARRIAGE CARRIAGE=carriage_t0
    G1 X{printer.configfile.settings["carriage carriage_t0"].position_min} F12000
    SET_DUAL_CARRIAGE CARRIAGE=carriage_t3
    G1 X{x_center} F12000
    SET_DUAL_CARRIAGE CARRIAGE=carriage_t1
    G1 X{x_center} F12000
    SET_DUAL_CARRIAGE CARRIAGE=carriage_t0 MODE=PRIMARY
    SET_DUAL_CARRIAGE CARRIAGE=carriage_t1 MODE=COPY
    SET_DUAL_CARRIAGE CARRIAGE=carriage_t2 MODE=COPY
    SET_DUAL_CARRIAGE CARRIAGE=carriage_t3 MODE=COPY
    SET_DUAL_CARRIAGE CARRIAGE=carriage_gantry0 MODE=PRIMARY
    SET_DUAL_CARRIAGE CARRIAGE=carriage_gantry1 MODE=MIRROR
    ACTIVATE_EXTRUDER EXTRUDER=extruder
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder1 MOTION_QUEUE=extruder
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder2 MOTION_QUEUE=extruder
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder3 MOTION_QUEUE=extruder

[printer]
kinematics: generic_cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

## An optional input shaper support
#[input_shaper]
## The section is intentionally empty
#
#[delayed_gcode init_shaper]
#initial_duration: 0.1
#gcode:
#    SET_DUAL_CARRIAGE CARRIAGE=carriage_gantry1
#    SET_DUAL_CARRIAGE CARRIAGE=carriage_t3
#    SET_INPUT_SHAPER SHAPER_TYPE_X=<t3_shaper> SHAPER_FREQ_X=<t3_freq> SHAPER_TYPE_Y=<gantry1_shaper> SHAPER_FREQ_Y=<gantry1_freq>
#    SET_DUAL_CARRIAGE CARRIAGE=carriage_t2
#    SET_INPUT_SHAPER SHAPER_TYPE_X=<t2_shaper> SHAPER_FREQ_X=<t2_freq> SHAPER_TYPE_Y=<gantry1_shaper> SHAPER_FREQ_Y=<gantry1_freq>
#    SET_DUAL_CARRIAGE CARRIAGE=carriage_gantry0
#    SET_DUAL_CARRIAGE CARRIAGE=carriage_t1
#    SET_INPUT_SHAPER SHAPER_TYPE_X=<t1_shaper> SHAPER_FREQ_X=<t1_freq> SHAPER_TYPE_Y=<gantry0_shaper> SHAPER_FREQ_Y=<gantry0_freq>
#    SET_DUAL_CARRIAGE CARRIAGE=carriage_t0
#    SET_INPUT_SHAPER SHAPER_TYPE_X=<t0_shaper> SHAPER_FREQ_X=<t0_freq> SHAPER_TYPE_Y=<gantry0_shaper> SHAPER_FREQ_Y=<gantry0_freq>
