# Kconfig settings for SAM4e8e processors

if MACH_SAM4E8E

config SAM_SELECT
    bool
    default y
    select HAVE_GPIO
    select HAVE_GPIO_I2C
    select HAVE_GPIO_ADC
    select HAVE_GPIO_SPI
    select HAVE_GPIO_BITBANGING

config BOARD_DIRECTORY
    string
    default "sam4e8e"

config CLOCK_FREQ
    int
    default 60000000 # 120000000/2

config SERIAL
    bool
    default y
config SERIAL_BAUD
    depends on SERIAL
    int "Baud rate for serial port"
    default 250000

endif
