# Base config file for atmega328
CONFIG_MACH_AVR=y
CONFIG_MACH_atmega328=y
CONFIG_CLOCK_FREQ=16000000
CONFIG_WANT_ADC=n
CONFIG_WANT_SPI=n
CONFIG_WANT_I2C=n
CONFIG_WANT_HARD_PWM=n
CONFIG_WANT_BUTTONS=n
CONFIG_WANT_TMCUART=n
CONFIG_WANT_NEOPIXEL=n
CONFIG_WANT_PULSE_COUNTER=n
CONFIG_WANT_ST7920=n
CONFIG_WANT_HD44780=n
CONFIG_WANT_HX71X=n
