# Base config file for STM32F031x4 (16KB) boards with serial on PA14/PA15
CONFIG_MACH_STM32=y
CONFIG_MACH_STM32F031=y
CONFIG_LOW_LEVEL_OPTIONS=y
CONFIG_STM32_SERIAL_USART2_ALT_PA15_PA14=y
CONFIG_STM32_CLOCK_REF_INTERNAL=y
CONFIG_STM32_FLASH_START_0000=y
CONFIG_WANT_DISPLAYS=n
CONFIG_WANT_GPIO_BITBANGING=n
