# Kconfig settings for compiling and running the micro-controller code
# in a Linux process

if MACH_LINUX

config LINUX_SELECT
    bool
    default y
    select HAVE_GPIO_ADC
    select HAVE_GPIO_SPI
    select HAVE_GPIO_HARD_PWM
    select HAVE_GPIO_I2C
    select HAVE_GPIO_BITBANGING
    select HAVE_GPIO

config BOARD_DIRECTORY
    string
    default "linux"

config CLOCK_FREQ
    int
    default 50000000

config GPIO_CHIP_COUNT
    int "Number of GPIO chips"
    depends on LOW_LEVEL_OPTIONS
    default 0
    help
        This the number of /dev/gpiochip* devices to control.

        A setting of zero results in a autodetection
        mode at compile time.

        Default is 0

endif
