# Kconfig settings for compiling and running the micro-controller code
# in a Linux process

if MACH_LINUX

config LINUX_SELECT
    bool
    default y
    select HAVE_GPIO_ADC
    select HAVE_GPIO_SPI
    select HAVE_GPIO_HARD_PWM

config BOARD_DIRECTORY
    string
    default "linux"

config CLOCK_FREQ
    int
    default 20000000

endif
