# Kconfig settings for Atmel SAMD processors

if MACH_ATSAMD

config ATSAMD_SELECT
    bool
    default y
    select HAVE_GPIO
    select HAVE_GPIO_ADC
    select HAVE_GPIO_I2C
    select HAVE_GPIO_SPI if MACH_SAMD21
    select HAVE_GPIO_HARD_PWM if MACH_SAMD21
    select HAVE_GPIO_BITBANGING

config BOARD_DIRECTORY
    string
    default "atsamd"

choice
    prompt "Processor model"
    config MACH_SAMD21E
        bool "SAMD21E"
        select MACH_SAMD21
    config MACH_SAMD21G
        bool "SAMD21G (Arduino Zero)"
        select MACH_SAMD21
    config MACH_SAMD21J
        bool "SAMD21J"
        select MACH_SAMD21
    config MACH_SAMD51G
        bool "SAMD51G (Adafruit ItsyBitsy M4)"
        select MACH_SAMD51
    config MACH_SAMD51J
        bool "SAMD51J (Adafruit Metro M4)"
        select MACH_SAMD51
    config MACH_SAMD51N
        bool "SAMD51N"
        select MACH_SAMD51
    config MACH_SAMD51P
        bool "SAMD51P (Adafruit Grand Central)"
        select MACH_SAMD51
endchoice

config MACH_SAMD21
    bool
config MACH_SAMD51
    bool

config MCU
    string
    default "samd21e" if MACH_SAMD21E
    default "samd21g" if MACH_SAMD21G
    default "samd21j" if MACH_SAMD21J
    default "samd51g" if MACH_SAMD51G
    default "samd51j" if MACH_SAMD51J
    default "samd51n" if MACH_SAMD51N
    default "samd51p" if MACH_SAMD51P

config CLOCK_FREQ
    int
    default 48000000 if MACH_SAMD21
    default 120000000 if MACH_SAMD51

choice
    depends on MACH_SAMD51
    prompt "Clock Reference"
    config CLOCK_REF_X32K
        bool "32.768Khz crystal"
    config CLOCK_REF_INTERNAL
        bool "Factory calibration"
endchoice

choice
    prompt "Bootloader offset"
    config FLASH_START_2000
        bool "8KiB bootloader (Arduino Zero)"
    config FLASH_START_4000
        bool "16KiB bootloader (Arduino M0)"
    config FLASH_START_0000
        bool "No bootloader"
endchoice

config FLASH_START
    hex
    default 0x4000 if FLASH_START_4000
    default 0x2000 if FLASH_START_2000
    default 0x0000

config USBSERIAL
    bool "Use USB for communication (instead of serial)" if MACH_SAMD21
    default y
config SERIAL
    depends on !USBSERIAL
    bool
    default y

endif
