# This file describes the Python virtualenv package requirements for
# the Klipper host software (Klippy).  These package requirements are
# typically installed via the command:
#   pip install -r klippy-requirements.txt
cffi==1.14.6
pyserial==3.4
greenlet==1.1.2
Jinja2==2.11.3
python-can==3.3.4
configparser==4.0.2
