# Kconfig settings for SAM3x8e processors

if MACH_SAM3X8E

config SAM_SELECT
    bool
    default y
    select HAVE_GPIO
    select HAVE_GPIO_ADC
    select HAVE_GPIO_SPI
    select HAVE_GPIO_BITBANGING

config BOARD_DIRECTORY
    string
    default "sam3x8e"

config CLOCK_FREQ
    int
    default 42000000 # 84000000/2

config SERIAL
    bool
    default y
config SERIAL_BAUD
    depends on SERIAL
    int "Baud rate for serial port"
    default 250000

endif
